<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.andy.test.mvc.repository.SellerRepository">
	<select id="SellerRepository"
		resultType="com.andy.test.mvc.domain.Seller">
		SELECT
		FROM
		`seller`

		`id`
		,`nickname`
		,`temperature`
		, `profileImage`
		,`createdAt`
		,`updatedAt`

	</select>
</mapper>