<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>즐겨찾기 추가하기</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<label>제목</label> <br> 
		<input type="text" class="form-control col-8" id="nameInput" placeholder="제목을 입력하세요"><br> 
		
		<label>주소</label><br> 
		
		<div class="d-flex">
			<input type="text" class="form-control col-8"  id="urlInput" placeholder="http:// 또는 https:// 포함해서"><br>
			<button type="button" id="duplicateBtn">중복 확인</button>
		</div>
		
		<div class="d-flex"> <!-- 중복확인 버튼을 눌렀을 때 활성화 -->
			<div class="small text-danger d-none" id="duplicateText">중복된 url입니다.</div>
			<div class="small text-primary d-none" id="availableText">중복되지않은 url입니다</div>
		</div>

		<button type="button" id="addBtn">추가</button>
		
	</div>

	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

	<script>
		$("#duplicateBtn").on("click", function() {
			let url = $("#urlInput").val().trim();

			if (url == "") {
				alert("주소를 입력하세요");
				return;
			}
			if (!url.startsWith("http://") && !url.startsWith("https://")) {
				alert("잘못된 규격의 주소입니다.");
				return;
			}

			$.ajax({type : "POST", url : "/ajax/favorite/duplicate-url", data : {"url" : url}
			
				,success : function(response) {
					
					if (response.isDuplicate) {
						
						$("#duplicateText").removeClass("d-none");
						$("#availableText").addClass("d-none");
						
					} else {
						$("#availableText").removeClass("d-none");
						$("#duplicateText").addClass("d-none");
					}
				}
				
				,error : function() {
					alert("중복확인 에러");
				}
				
			});
			
		});

		$("#addBtn").on("click", function() {
			let name = $("#nameInput").val().trim();
			let url = $("#urlInput").val().trim();

			if (name == "") {
				alert("제목을 입력하세요");
				return;
			}
			
			if (url == "") {
				alert("주소를 입력하세요");
				return;
			}
			
			if (!url.startsWith("http://") && !url.startsWith("https://")) {
				alert("잘못된 규격의 주소입니다.");
				return;
			}

			$.ajax({type : "Post", url : "/ajax/favorite/create", data : {"name" : name, "url" : url}
			
			,success : function(response) {
					if (response.result == "success") {
						alert("페이지가 성공적으로 추가되었습니다.");
					} else {
						alert("페이지 추가 실패!");
					}
				}
			
			,error : function() {
					alert("서버 오류로 인해 페이지 추가에 실패했습니다.");
				}
			
			});
		});
	</script>

</body>
</html>