<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<title>회원 정보 리스트</title>
</head>

<body>
	<div class="container">
		<h1>회원 정보 리스트</h1>
		<table class="table table-bordered table-sm text-center">
			<thead>
				<tr>
					<th>No</th>
					<th>이름</th>
					<th>생년월일</th>
					<th>전화번호</th>
					<th>국적</th>
					<th>이메일</th>
					<th>자기소개</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="info, status: ${members}">

					<td th:text="${status.count}">1</td>

					<td th:text="${info.name}">유비</td>

					<td th:text="${#temporals.format(info.birth, 'yyy년 M월 d일')}">161년7월9일</td>


					<td>
					<span th:if="${#strings.startsWith(info.phoneNumber,'010')}" th:text="${info.phoneNumber}"></span> 
					<span th:unless="${#strings.startsWith(info.phoneNumber,'010')}">유효하지 않은 전화번호</span>
					</td>


					<td th:text="${#strings.replace(info.nationality,'시대','-')}">삼국-촉한</td>

					<td>
					<span th:utext="|<b>${#strings.arraySplit(info.email, '@')[0]}</b>@${#strings.arraySplit(info.email, '@')[1]}|">abc@naver.com</span>
					</td>

					<td>
					<span th:if="${#strings.length(info.introduce) > 15}" th:text="|${info.introduce}...|">저는~</span>
					<span th:unless="${#strings.length(info.introduce) > 15}" th:text="${info.introduce}">저는~</span>
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>