<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<title>회원 정보 리스트</title>
</head>

<body>
	<div class="container">
		<table class="table text center">
			<thead>
				<tr>
					<th>No</th>
					<th>이름</th>
					<th>생년월일</th>
					<th>전화번호</th>
					<th>국적</th>
					<th>이메일</th>
					<th>자기소개</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<th>유비</th>
					<th>161년7월9일</th>
					<th>010-1234-5678</th>
					<th>삼국-촉한</th>
					<th>abc@naver.com</th>
					<th>저는~</th>
				</tr>
				<tr>
					<th>1</th>
					<th>유비</th>
					<th>161년7월9일</th>
					<th>010-1234-5678</th>
					<th>삼국-촉한</th>
					<th>abc@naver.com</th>
					<th>저는~</th>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>